@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

body {
    position: relative;
    overflow: hidden;
}

#principal {
    width: 360px;
    height: 740px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#loginImg{
    position: relative;
}

#logo{
    position: relative;
    left: 100px;
}

#nomeInput{
    font-size: 18px;
    text-align: center;
    background-color: #dedede;
    width: 249px;
    height: 34px;
    border-radius: 10px;
    outline: none;
    border: solid 3px #dedede;
    padding-left: 10px;
    position: relative;
    top: 20px;
    left: 45px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 2px;
}

#senhaInput{
    font-size: 18px;
    text-align: center;
    background-color: #dedede;
    width: 249px;
    height: 34px;
    border-radius: 10px;
    outline: none;
    border: solid 3px #dedede;
    padding-left: 10px;
    position: relative;
    top: 40px;
    left: 45px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 2px;
}

#enviarInput{
    font-size: 18px;
    width: 118px;
    height: 34px;
    border-radius: 10px;
    outline: none;
    color: white;
    cursor: pointer;
    background-color: #6ab002;
    border: solid 3px #6ab002;
    position: relative;
    top: 55px;
    left: 115px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 2px;
    transition: transform ease 300ms;
}

#enviarInput:hover{
    transform: scale(110%);
}

#textoLoginNaoTemAcc{
    color: #646464;
    position: relative;
    top: 85px;
    left: 102px;
}

#textoLoginRegistrar{
    color: #5a9403;
    cursor: pointer;
    position: relative;
    top: 80px;
    left: 126px;
    transition: transform ease 300ms;
}

#textoLoginRegistrar:hover{
    transform: translate(0%,20%);
}

#textoFeed{
    font-weight: 700;
    color: #939393;
}

#textoPerfil{
    font-weight: 700;
    color: #939393;
}

#conquistaTexto{
    cursor: pointer;
    width: 50px;
    position: relative;
    top: -30px;
    left: 33px;
    font-weight: 700;
    color: #79c10d;
    z-index: 1;
}

#sobreTexto{
    cursor: pointer;
    width: 50px;
    position: relative;
    top: -55px;
    left: 250px;
    font-weight: 700;
    color: #939393;
    z-index: 1;
}

.linhaDivisoria{
    width: 360px;
    height: 1px;
    background-color: #939393;
}

#ldPerfilConquitasMenu{
    width: 360px;
    height: 3px;
    background-color: #939393;
    position: relative;
    top: -60px;
}

#ldPerfilConquitasMenuVerde{
    width: 180px;
    height: 8px;
    background-color: #79c10d;
    position: relative;
    top: -55px;
    z-index: 1;
}

#fogoFeed ,#fogoHistorico{
    position: relative;
    left: 10px;
}

#fogoPerfil{
    position: relative;
    left: 10px;
}

#configPerfil{
    cursor: pointer;
    position: relative;
    top: -81px;
    left: 310px;
}

#textoFeed{
    position: relative;
    left: 155px;
    top: -40px;
}

#textoHistorico{
    font-weight: 700;
    color: #939393;
    position: relative;
    left: 130px;
    top: -42px;
}

#ldHistorico{
    position: relative;
    top: -30px;
}

#textoPerfil{
    position: relative;
    left: 150px;
    top: -40px;
}

#ldFeed{
    position: relative;
    top: -35px;
}

#ldPerfil{
    position: relative;
    top: -80px;
}

#camera{
    cursor: pointer;
    position: relative;
    left: 150px;
}

#enviarInputFeed{
    font-size: 18px;
    width: 118px;
    height: 34px;
    border-radius: 10px;
    outline: none;
    color: white;
    cursor: pointer;
    background-color: #939393;
    border: solid 3px #939393;
    position: relative;
    top: 55px;
    left: 52px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 1px;
    transition: transform ease 300ms;
}

#enviarInputFeed:hover{
    transform: scale(110%);
}

#Real0{
    font-size: 18px;
    width: 118px;
    height: 34px;
    border-radius: 10px;
    outline: none;
    color: white;
    cursor: pointer;
    background-color: #6ab002;
    border: solid 3px #6ab002;
    position: relative;
    top: 10px;
    left: 40px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 1px;
    transition: transform ease 300ms;
}

#Real0:hover{
    transform: scale(110%);
}

#Real9{
    font-size: 18px;
    width: 118px;
    height: 34px;
    border-radius: 10px;
    outline: none;
    color: white;
    cursor: pointer;
    background-color: #6ab002;
    border: solid 3px #6ab002;
    position: relative;
    top: 10px;
    left: 85px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 1px;
    transition: transform ease 300ms;
}

#Real9:hover{
    transform: scale(110%);
}

#ldFeedMenu{
    position: relative;
    top: 140px;
}

#ldPerfilMenu{
    position: relative;
    top: 140px;
}

#menuFeed{
    position: relative;
    top: 120px;
    left: 6px;
}

#ldPerfilMenu{
    position: relative;
    top: -400px
}

#menuPerfil{
    position: relative;
    top: -395px;
    left: 6px;
}

#ldDuoFitMenu{
    position: relative;
    top: 670px;
}

#menuDuoFit{
    position: relative;
    top: 675px;
}

#menuHistorico{
    position: relative;
    top: 558px;
}

#ldHistoricoMenu{
    position: relative;
    top: 580px;
}

#bolinhasMenu, #bolinhasMenuPerfil, #bolinhasLigas, #bolinhasDuoFit, #bolinhasHistorico{
    cursor: pointer;
    position: relative;
    left: 15px;
}

#escudoMenu, #escudoMenuPerfil, #escudoLigas,#escudoDuoFit, #escudoHistorico{
    cursor: pointer;
    position: relative;
    left: 53px;
}

#bonecaMenu, #bonecaMenuPerfil, #bonecaLigas,#bonecaDuoFit, #bonecaHistorico{
    cursor: pointer;
    position: relative;
    left: 95px;
}

#bauMenu, #bauMenuPerfil, #bauLigas,#bauDuoFit, #bauHistorico{
    cursor: pointer;
    position: relative;
    left: 125px;
}

#textoVerHistorico{
    cursor: pointer;
    color: #646464;
    position: relative;
    font-size: 16px;
    top: 105px;
    left: 138px;
}

#textoEnviarRefeicao{
    cursor: pointer;
    color: #878787;
    position: relative;
    font-size: 16px;
    top: 545px;
    left: 120px;
    font-weight: 700;
    visibility: hidden;
}

#imgPerfil{
    position: relative;
    left: 136px;
    top: -50px;
}

#nomePerfil{
    font-weight: 700;
    color: #2e2e2e;
    position: relative;
    left: 130px;
    top: -50px;
}

#classePerfil{
    font-size: 13px;
    color: #646464;
    position: relative;
    left: 142px;
    top: -50px;
}

#conquistas{
    position: relative;
    top: -150px;
    left: 18px;
}

#conquista1{
    position: relative;
    top: -27px;
    left: 0px;
}

#conquista2{
    position: relative;
    top: -140px;
    left: 0px;
}

#conquista3{
    position: relative;
    top: -250px;
    left: 0px;
}

#conqShapado{
    font-weight: 700;
    position: relative;
    top: 100px;
    left: 90px;
}

#conqShapadoTexto{
    font-weight: 500;
    position: relative;
    top: 100px;
    left: 92px;
    color: #646464;
    font-size: 13px;
}

#conqShapado2{
    font-weight: 700;
    position: relative;
    top: -15px;
    left: 92px;
}

#conqShapadoTexto2{
    font-weight: 500;
    position: relative;
    top: -15px;
    left: 92px;
    color: #646464;
    font-size: 13px;
}

#conqShapado3{
    font-weight: 700;
    position: relative;
    top: -122px;
    left: 94px;
}

#conqShapadoTexto3{
    font-weight: 500;
    position: relative;
    top: -124px;
    left: 95px;
    color: #646464;
    font-size: 13px;
}

#progressoVerde{
    width: 95px;
    height: 25px;
    background-color: #79c10d;
    border-radius: 12px;
    position: relative;
    top: 125px;
    left: 90px;
    z-index: 1;
}

#progressoCinza{
    width: 160px;
    height: 25px;
    background-color: #b1b1b1;
    border-radius: 12px;
    position: relative;
    top: 100px;
    left: 90px;
}

#progressoVerde2{
    width: 120px;
    height: 25px;
    background-color: #79c10d;
    border-radius: 12px;
    position: relative;
    top: 10px;
    left: 90px;
    z-index: 1;
}

#progressoCinza2{
    width: 160px;
    height: 25px;
    background-color: #b1b1b1;
    border-radius: 12px;
    position: relative;
    top: -15px;
    left: 90px;
}

#progressoVerde3{
    width: 160px;
    height: 25px;
    background-color: #79c10d;
    border-radius: 12px;
    position: relative;
    top: -97px;
    left: 90px;
    z-index: 1;
}

#progressoCinza3{
    width: 160px;
    height: 25px;
    background-color: #b1b1b1;
    border-radius: 12px;
    position: relative;
    top: -121px;
    left: 90px;
}

#numConq1{
    font-size: 18px;
    color: #939393;
    font-weight: 700;
    position: relative;
    top: 73px;
    left: 266px;
}

#numConq2{
    font-size: 18px;
    color: #939393;
    font-weight: 700;
    position: relative;
    top: -40px;
    left: 266px;
}

#numConq3{
    font-size: 18px;
    color: #939393;
    font-weight: 700;
    position: relative;
    top: -148px;
    left: 266px;
}

#diasDeFoco{
    border: 4px solid #8d8d8d;
    border-radius: 10px;
    padding: 5px;
    width: 160px;
    height: 90px;
    position: relative;
    left: 10px;
    top: -20px;
}

#numeroDeFoco{
    position: relative;
    left: 42px;
    top: -49px;
    font-size: 28px;
    font-weight: 700;
}

#diasDeFocoTexto{
    position: relative;
    top: -55px;
    left: 45px;
}


#rankAtual{
    border: 4px solid #8d8d8d;
    border-radius: 10px;
    padding: 5px;
    width: 160px;
    height: 90px;
    position: relative;
    left: 190px;
    top: -110px;
}

#rankOuroFoto{
    position: relative;
    top: 7px;
    width: 35px;
}

#rankAtualTexto{
    position: relative;
    left: 42px;
    top: -49px;
    font-size: 28px;
    font-weight: 700;
}

#raTexto{
    position: relative;
    top: -55px;
    left: 45px;
}

#melhorRank{
    border: 4px solid #8d8d8d;
    border-radius: 10px;
    padding: 5px;
    width: 160px;
    height: 90px;
    position: relative;
    left: 190px;
    top: -95px;
}

#melhorRankFoto{
    position: relative;
    top: 7px;
    width: 35px;
}

#melhorRankTexto{
    position: relative;
    left: 42px;
    top: -49px;
    font-size: 28px;
    font-weight: 700;
}

#mrTexto{
    position: relative;
    top: -55px;
    left: 45px;
}

#fitCoins{
    border: 4px solid #8d8d8d;
    border-radius: 10px;
    padding: 5px;
    width: 160px;
    height: 90px;
    position: relative;
    left: 10px;
    top: -183px;
}

#fitCoinsFoto{
    position: relative;
    top: 7px;
    width: 35px;
}

#fitCoinsQntd{
    position: relative;
    left: 42px;
    top: -33px;
    font-size: 28px;
    font-weight: 700;
}

#fcTexto{
    position: relative;
    top: -40px;
    left: 45px;
}

#infos{
    position: relative;
    top: -20px;
}

#ldPerfilInfos{
    position: relative;
    top: -200px;
}

#informacoesAdd{
    position: relative;
    top: -200px;
    left: 12px;
    color: #646464;
}

#informacoesAddTexto{
    position: relative;
    top: -190px;
    left: 12px;
    color: #646464;
}

#rankOuroLigas{
    position: relative;
    top: 15px;
    left: 125px;
}

#ligasTextoOuro{
    font-weight: 700;
    color: #444444;
    position: relative;
    top: 15px;
    left: 78px;
    font-size: 32px;
}

#ligasTexto{
    text-align: center;
    font-size: 15px;
    color: #828282;
    position: relative;
    top: 20px;
}

#ldLigas{
    position: relative;
    top: 36px;
}

#ldLigasMenu{
    position: relative;
    top: 428px;
}

#menuLigas{
    position: relative;
    top: 430px;
}

#ranks{
    position: absolute;
}

#rankNumeracao1, #rankNumeracao2, #rankNumeracao3, #rankNumeracao4, #rankNumeracao5{
    font-size: 25px;
    color: #79c10d;
    font-weight: 700;
    position: relative;
    top: 8px;
    left: 12px;
}

#rankFoto1,#rankFoto2,#rankFoto3, #rankFoto4, #rankFoto5{
    position: relative;
    left: 40px;
    top: -38px;
}

#rankNome1, #rankNome2, #rankNome3, #rankNome4, #rankNome5{
    position: relative;
    top: -86px;
    left: 110px;
    font-weight: 700;
}

#rankFc1, #rankFc2, #rankFc3, #rankFc4, #rankFc5{
    position: relative;
    top: -110px;
    left: 310px;
    color: #646464;
    font-weight: 700;
}

#n1{
    position: relative;
    top: 60px;
}

#n2{
    position: relative;
    top: -20px;
}

#n3{
    position: relative;
    top: -100px;
}

#n4{
    position: relative;
    top: -180px;
}

#n5{
    position: relative;
    top: -260px;
}

#duoFitConteudo{
    position: absolute;
}

#duoFitLogoGrande{
    position: relative;
    top: 10px;
    left: 105px;
}

#duoFitImgLegal{
    position: relative;
    top: 20px;
    left: -10px;
}

#duoFitPlanos{
    width: 340px;
    position: relative;
    top: 10px;
    left: 10px;
}

#refeicoes {
    position: absolute;
}

#refeicao1{
    position: relative;
    left: 4px;
    cursor: pointer;
    width: 350px;
    top: -20px;
}

#refeicaoFeedBack{
    position: relative;
    left: 4px;
    width: 350px;
    top: -20px;
}